## Abstraksi Data + Data Typing
Setiap kode yang Anda buat akan dikenali sebagai *data* oleh komputer. Oleh karena itu, pentingnya mengetahui **abstraksi data** yang merupakan kemampuan Anda untuk *mengerti konteks* dan *merepresentasikannya menjadi bentuk lain* sesuai dengan konteks masalahnya.

### Deklarasi dan Inisialisasi
**Deklarasi** merujuk pada pembuatan variabel dengan **menentukan tipe data dan nama variabelnya**. Umumnya, ini dilakukan oleh bahasa pemrograman lainnya, seperti C/C++.

*Contoh pada C*: int age; // int merupakan tipe data variabel, dan age merupakan nama variabel

Sementara **inisialisasi** merujuk kepada *pemberian nilai awal pada variabel yang sebelumnya telah dideklarasikan*.

*Contoh pada C*: int age = 19; // mengisi variabel age dengan nilai 19

**Python tidak mengharuskan deklarasi tipe data variabel**. Hal ini disebabkan Python merupakan bahasa pemrograman yang menerapkan **loosely typed**. Artinya, Anda tidak perlu mendeklarasikan tipe data variabel secara eksplisit.

In [8]:
age = 19
salary = 5000000.0

print(type(age)) # fungsi type() digunakan untuk mengetahui tipe data sebuah variabel
print(type(salary))

<class 'int'>
<class 'float'>

Python juga merupakan bahasa pemrograman yang menerapkan **dynamic typing**. Artinya, Python adalah bahasa pemrograman yang *hanya mengetahui tipe variabel saat program berjalan dan melakukan proses assignment*. Hal ini memungkinkan kita untuk *mengubah tipe data dari suatu variabel seiring berjalannya program*.

In [11]:
x = 6
print(type(x))

x = '6' # mengubah tipe data variabel saat run time (dynamic typing)
print(type(x))

<class 'int'>
<class 'str'>

## Tipe Data
Data sendiri memiliki tipe yang berbeda-beda. Dalam Python, tipe data dikelompokkan menjadi dua, yakni **tipe data primitif** dan **tipe data collection**.

### Tipe Data Primitif
**Tipe data primitif** merupakan jenis *paling dasar dalam pemrograman*. Tipe data ini **menyimpan single value**. Berikut adalah berbagai tipe data primitif.

#### Numbers

||Numbers|
|:---:|:---:|
|Integer|Bilangan bulat positif atau negatif dan tidak memiliki angka desimal. Contoh: 1; -20; 999; dan 0.|
|Float|Bilangan riil yang dapat mewakili bilangan bulat atau bilangan desimal. Contoh: 3.14; 1; dan 4.01E+1|
|Complex|Representasi dari bilangan kompleks dalam matematika. Contoh: 1+2j|

Tipe data primitif pertama, yakni **numbers** adalah tipe data angka berupa bilangan *bulat*, *riil*, dan *kompleks*.

Ciri dari bilangan numbers adalah Anda dapat **mengoperasikan bilangan tersebut dengan operasi matematika sederhana**, seperti pertambahan (+), pengurangan (-), perkalian (*), dan operasi matematika lainnya.

In [ ]:
x = 6 # int
print(type(x))

x = 6.0 # float
print(type(x))

x = 1+2j # complex
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

Perlu diperhatikan bahwa tipe data numbers bersifat **immutable** yang artinya *nilai di dalamnya tidak dapat diubah*. Mari lihat contoh di bawah ini.

In [26]:
var = 6
print(var)
print(id(var)) # menggunakan fungsi id() untuk melihat alamat memori

var = 7 # mengubah/mengganti nilai
print(var)
print(id(var))

6
140725025113160
7
140725025113192

Pada contoh di atas, kita berusaha untuk melakukan perubahan tipe data numbers dengan melakukan *inisialisasi ulang variabel*. Namun, ternyata hal tersebut bukan merupakan proses mengubah nilai variabel. Proses tersebut lebih bisa disebut sebagai **membuat objek baru dengan nilai baru**. Ketika menjalankan program di atas, Anda juga dapat melihat alamat memori (memory address) dari variabel “var” yang pertama dan yang kedua **berbeda**. Hal ini membuktikan secara natural bahwa **integer atau numbers merupakan immutable**. Alih-alih nilai integer di atas diperbarui, ternyata nilai tersebut masih bernilai sama karena kita masih bisa menampilkannya dengan nama variabel yang identik.

Sebenarnya, **semua tipe data primitif atau single-value (numbers, boolean, string) sudah dapat dipastikan adalah immutable secara natural**. Banyak programmer beranggapan bahwa dengan melakukan inisialisasi ulang variabel pada Python dapat memperbarui atau mengubah nilai tersebut. Nyatanya, tindakan tersebut *menyebabkan program membuat objek baru dengan nilai baru alih-alih mengubahnya*.

#### Boolean

||Boolean|
|:---:|:---:|
|True|Bernilai benar|
|False|Bernilai salah|

Tipe data primitif kedua adalah **boolean**, yakni tipe data yang *hanya bernilai TRUE atau FALSE*. Tipe data ini *merepresentasikan nilai kebenaran (truth values*).

Sebenarnya, setiap variabel yang memiliki nilai bisa dievaluasi dan menghasilkan nilai true. Hanya ada beberapa *nilai yang akan dianggap bernilai false* sebagai berikut:
1) Nilai yang sudah didefinisikan bernilai salah: None dan False.
2) Angka nol dari semua tipe numerik: 0, 0.0, 0j, Decimal(0), Fraction(0,1).
3) Urutan (sequence) dan koleksi (collection) yang kosong: “”, (), {}, set(), range(0).

In [ ]:
x = True # bool
print(type(x))
x = False # bool
print(type(x))

<class 'bool'>
<class 'bool'>

#### String
String merupakan **karakter yang berurutan**. Ketika Anda membuat variabel bernilai string tentu *diawali dengan single quote (‘’) atau double quote (“”)*.

In [54]:
x = 'Mahir Python' # ini str
print(type(x))
x = "Mahir SQL" # ini str juga
print(type(x))

<class 'str'>
<class 'str'>

Beberapa *fakta menarik* lainnya dari string Python adalah berikut.
1) Anda dapat menggunakan **tiga single quote atau double quote** untuk *menyimpan string yang lebih dari satu baris (multi-line)*.

In [18]:
multi_line = '''Halo Saya Muhammad Fathir Rizki!
Saya sedang belajar Python
Agar bisa menjadi Data specialist
''' # multi line
print(multi_line)

multi_line = """Halo Saya Muhammad Fathir Rizki!
Saya sedang belajar Python
Agar bisa menjadi AI specialist
""" # multi line juga, cuman pake ""
print(multi_line)

Halo Saya Muhammad Fathir Rizki!
Saya sedang belajar Python
Agar bisa menjadi Data specialist

Halo Saya Muhammad Fathir Rizki!
Saya sedang belajar Python
Agar bisa menjadi AI specialist

2) String merupakan urutan karakter yang setiap karakternya **memiliki indeks**. Anda dapat mengakses setiap karakter dari string (*substring*) dengan menggunakan *metode indexing*. Perlu diingat bahwa indeks **selalu dimulai dari 0**.

In [56]:
x = "SQL juara"
print(x[0])
print(x[4])

# x[0] = A
# tidak bisa mengubah substring karena immutable

S
j

3) Namun, Anda **tidak dapat mengubah substring di dalamnya**. Ini dikarenakan string pada Python bersifat *immutable*.
4) Anda dapat mengakses beberapa substring dengan menggunakan *metode indexing dan slicing*.

    Pada kode di bawah, diambil substring dari indeks ke-2 hingga indeks terakhir dengan menggunakan **metode slicing**. Metode slicing adalah cara yang sering digunakan untuk *mendapatkan bagian dari suatu list atau array*. Metode ini dapat diterapkan pada string untuk mengambil satu atau banyak substring.

In [57]:
x = 'Dicoding'
print(x[2:])

coding

5) Anda dapat menampilkan teks/string berdasarkan input dari pengguna dengan berbagai cara:
    - Formatted String
    - %-formatting
    - str.format()

    Perhatikan kode-kode di bawah ini!

In [66]:
nama = 'Muhammad Fathir Rizki'

# Formatted String
print(f"Calon orang sukses: {nama}")

# %-formatting
print("Calon orang sukses: %s" % (nama))

# str.format()
print("Calon orang sukses: {}" .format(nama))

Calon orang sukses: Muhammad Fathir Rizki
Calon orang sukses: Muhammad Fathir Rizki
Calon orang sukses: Muhammad Fathir Rizki

### Tipe Data Collection
Tipe data collection merupakan tipe data yang **menyimpan satu atau lebih data primitif sebagai satu kelompok**.

#### List
List merupakan jenis **kumpulan data terurut (ordered sequence)** dan salah satu tipe data yang sering digunakan pada Python. List dalam Python ini *serupa, tetapi tak sama dengan array pada bahasa pemrograman lainnya*. List Python **tidak mengharuskan memiliki tipe data yang sama** di dalamnya, sedangkan array sebaliknya.

Melakukan inisialisasi list pada Python cukup mudah, yakni menggunakan **kurung siku “[]”** dan **setiap elemennya dipisahkan dengan koma**.

Setiap data atau elemen dalam list **memiliki indeks yang selalu dimulai dari 0**. Anda dapat mengakses setiap indeks pada list dengan *metode indexing*.

In [110]:
x = [1, 2.2, 'Dicoding', True]
print(type(x)) # list
print(x[3]) # mengakses elemen melalui metode indexing
print(x[-1]) # cara lain untuk melakukan indexing
print(x[2][2:]) # mengakses dan slicing substring 'Dicoding'

<class 'list'>
True
True
coding

List Python bersifat **mutable** yang artinya *nilai di dalamnya dapat diubah*.

In [84]:
x = ["Sukses", 19, False, 0.5]
x[0] = 'Indonesia' # mengubah elemen di indeks ke-0
print(x)

['Indonesia', 19, False, 0.5]

Adapun konsep slicing merujuk pada pengambilan data berdasarkan indeks dari rentang tertentu. Slicing pada Python mengikuti pola sebagai berikut.

|sequence[start:stop:step]|
|---|

Start merupakan **indeks pertama yang Anda ambil**. Stop merupakan **indeks terakhir yang menjadi batasan**. Step merupakan **jumlah elemen yang ingin Anda lewati di antara setiap elemen slice**. Secara default, *nilai step adalah 1*. Hal penting yang harus Anda ingat adalah *nilai start bersifat inklusif* sedangkan *stop bersifat eksklusif*.

In [20]:
x = [1,2,3,4,5,6,7,8,9,10]

print(x[0:5:2]) # [1, 3, 5]
print(x[2:]) # [3, 4, 5, 6, 7, 8, 9, 10]
print(x[:9:2]) # [1, 3, 5, 7, 9]
print(x[:7]) # [1, 2, 3, 4, 5, 6, 7]

[1, 3, 5]
[3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7]

#### Tuple
**Tuple** adalah **jenis dari list yang tidak dapat diubah elemennya**. Umumnya, tuple digunakan untuk *data yang bersifat sekali deklarasi dan dapat dieksekusi lebih cepat*. Tuple didefinisikan dengan kurung **“()“** dan setiap elemen di dalamnya **dipisahkan dengan koma**.

*Metode indexing* dan *slicing* juga berlaku pada tuple *sama seperti list*. Tuple bersifat **immutable** yang artinya tidak dapat diubah.

In [112]:
x = (2.1,'Juara Data', True, 49) # menggunakan tanda () bukan []
print(type(x)) # tuple
print(x[1])
print(x[0:3:1])
# tuple[3] = 55 TIDAK BISA KARENA IMMUTABLE

<class 'tuple'>
Juara Data
(2.1, 'Juara Data', True)

#### Set
Set adalah **kumpulan item bersifat unik**, **tanpa urutan (unordered collection)**, dan dapat diinisialisasikan dengan kurawal **“{}”** di mana setiap elemennya dipisahkan dengan koma. Tidak sama seperti list, dalam set kita *tidak bisa melakukan indexing* karena set **tidak memiliki indeks**. Selain tanpa urutan (unordered collection). Set juga bersifat unik, artinya, **data yang Anda simpan pada set tidak akan ada duplikat**. Anda dapat memanfaatkan hal ini untuk *menghilangkan duplikat pada suatu data*.

In [ ]:
x = {1,2,2,6,11,23,16,6}
# print(x[0]) 'set' object is not subscriptable
print(type(x)) # set
print(x) # akan menghilangkan data yang duplikat

<class 'set'>
{16, 1, 2, 6, 23, 11}

Terakhir, set adalah **himpunan dalam matematika**. Ini maknanya Anda *dapat melakukan operasi union (gabungan) dan intersection (irisan)* pada set. Python menyediakan method “**.union()**” dan “**.intersection()**” untuk tipe data set.

In [120]:
set1 = {1,3,5,8}
set2 = {2,3,4,5}

union = set1 .union(set2) # {1,2,3,4,5,8}
intersection = set1 .intersection(set2) # {3,5}

print('Union set: ', union)
print('Intersection set: ', intersection)

Union set:  {1, 2, 3, 4, 5, 8}
Intersection set:  {3, 5}

#### Dictionary
Dictionary pada Python merupakan **kumpulan pasangan key-value yang bersifat tidak berurutan**. Dictionary dapat digunakan untuk *menyimpan data kecil hingga besar*. Pada Python, *dictionary didefinisikan dengan kurawal* **"{}"** dan tambahan definisi berikut:
1) Setiap elemen pasangan key-value dipisahkan dengan koma (,);
2) Key dan value dipisahkan dengan titik dua (:);
3) Key dan value dapat berupa tipe variabel/objek apa pun.

Dalam mengambil setiap nilai/elemen pada dictionary, Anda harus **mengetahui key (kunci)** untuk mengakses setiap **value-nya (nilai)**. Hal ini berbeda dengan tipe data sebelumnya yang cukup mengharuskan Anda untuk menyebutkan indeksnya saja.

In [ ]:
x = {'name':'Muhammad Fathir Rizki', 'age':19, 'job':'AI specialist', 'isSuccess':True}
print(type(x)) # dict
print(x)
# print(x[3]) TIDAK BISA KARENA UNORDERED COLLECTION
print(x['job']) # mengakses elemen dengan key-nya

<class 'dict'>
{'name': 'Muhammad Fathir Rizki', 'age': 19, 'job': 'AI specialist', 'isSuccess': True}
AI specialist

Beberapa hal lain terkait dictionary dapat dilihat pada poin-poin berikut.
1) Menambah Data pada Dictionary

    Untuk menambahkan data pada Dictionary, Anda cukup **memasukkan key dan value-nya** seperti pada contoh kode di bawah, yakni “x[‘status’] = ‘College Student’”.

2) Menghapus Data pada Dictionary

    Anda dapat menghapus data pada Dictionary dengan menggunakan sintaks **“del”**. Pada kode di bawah, data “age” dihapus.

3) Mengubah Data pada Dictionary

    Untuk mengubah value pada Dictionary, Anda dapat melakukannya dengan **mengakses key-nya dan lakukan inisialisasi variabel dengan nilai baru**. Pada kode di bawah, data “name” diubah dari “Muhammad Fathir Rizki” menjadi “Orang Sukses”.

In [134]:
x = {'name':'Muhammad Fathir Rizki', 'age':19, 'job':'AI specialist', 'isSuccess':True}

# Menambah Data
x['status'] = 'College Student'
print(x)
# Menghapus Data
del x['age']
print(x)
# Mengubah Data
x['name'] = 'Orang Sukses'
print(x)

{'name': 'Muhammad Fathir Rizki', 'age': 19, 'job': 'AI specialist', 'isSuccess': True, 'status': 'College Student'}
{'name': 'Muhammad Fathir Rizki', 'job': 'AI specialist', 'isSuccess': True, 'status': 'College Student'}
{'name': 'Orang Sukses', 'job': 'AI specialist', 'isSuccess': True, 'status': 'College Student'}

AGAR MEMUDAHKAN, berikut visualisasi Tipe Data Collection dalam bentuk tabel:

|Collection Data Types|initialization|Mutable|Ordered|Unique|Information|
|:---:|:---:|:---:|:---:|:---:|:---:|
|List|[...]|True|True|False|Ordered sequence of items|
|Tuple|(...)|False|True|False|Immutable ordered sequence|
|Set|{...} / set()|True|False|True|Unordered collection of unique items|
|Dictionary|{'key':'value'}|True|True (insertion-ordered)|True|Collection of key-value pairs|

### Konversi antara Tipe Data
Anda dapat melakukan *konversi antar tipe data dengan menggunakan beberapa fungsi*. **Fungsi** merupakan **blok kode yang dapat dipanggil untuk melakukan tugas tertentu**. Di bawah ini merupakan berbagai fungsi yang dapat digunakan untuk mengonversi data.

In [17]:
# Konversi Integer ke Float
print(float(10), '\n') # 10.0

# Konversi Float ke Integer
print(int(2.5)) # 2
print(int(-3.9),'\n') # -3

# Konversi dari-dan-ke String
print(int('25')) # 25 <int>
print(str(25)) # 25 <str>
print(float("4.1")) # 4.1 <float>
print(str(4.1),'\n') # 4.1 <str>
# print(int("1p")) invalid literal for int() with base 10: '1p'

# Konversi Kumpulan Data
print(set([1,2,3])) # menjadi set {1,2,3}
print(tuple({4,5,6})) # menjadi tuple (4,5,6)
print(list('hello'),'\n') # menjadi list ['h','e','l','l','o']

# Konversi Dictionary
# Untuk konversi ke dictionary, data harus memenuhi persyaratan key-value.
print(dict([[1,2],[3,4]])) # list dalam list
print(dict(((5,6), (7,8)))) # tuple dalam tuple
print(dict([('a','b'),('c','d')])) # tuple dalam list
print(dict((['e','f'],['g','h']))) # list dalam tuple
# print(dict({{1,2},{3,4}})) unhashable type: 'set'

10.0

2
-3

25
25
4.1
4.1

{1, 2, 3}
(4, 5, 6)
['h', 'e', 'l', 'l', 'o']

{1: 2, 3: 4}
{5: 6, 7: 8}
{'a': 'b', 'c': 'd'}
{'e': 'f', 'g': 'h'}